
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | About :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    
    
    <div class="content">
        <div class="wrap">
            <div class="about">
                <center><h3>Hakkımızda</h3></center>
                <center><h4>Bu blog sitesini mühendislik okuyan öğrenciler için özel olarak açtık.</h4></center>
                <center><h4>Biz mühendislik okurken bazı konular hakkında çok fazla kaynak bulamadığımızdan dolayı bu açtığımız blog sitesinde yabancı kaynaklardan öğrendiğimiz bazı yararlı bilgileri paylaşacağız.</h4></center>
                <center><h3>Peki Bizler kimiz ?</h3></center>
                <center><h4>Biz elektrik ve elektronik mühendisliği ve bilgisayar mühendisliği okuyan iki kuzeniz.</h4></center>
                <center><h4>Bu blog sitesinde kendimizi geliştirmekte olduğumuz alanlarda karşılaştığımız sorunları nasıl çözdüğümüzü ve bazı uygulamaları nasıl geliştirdiğimizi paylaşarak sizlerin daha kolay ve daha iyi bir şekilde gelişmenizi amaçlıyoruz. </h4></center>
                <center><h3>Aşağıdaki linklerden bizlere rahatlıkla ulaşabilirsiniz.</h3></center>
                <center>
                    <h4>Ömer Faruk Genç</h4>
                    <button class="btn btn-success" onclick="location='https://www.linkedin.com/in/%C3%B6mer-faruk-gen%C3%A7-a5155820b/'">Linkedin Hesabına Git</button>


                    <h4>Mehmet Zahid Genç</h4>
                    <button class="btn btn-success" onclick="location='https://www.linkedin.com/in/mehmet-zahid-gen%C3%A7-14bb57207/'">Linkedin Hesabına Git</button>

                    <h4>Paylaştığımız Projeler</h4>
                    <button class="btn btn-success" onclick="location='https://github.com/Omerfarukgenc235'">Github Hesabına Git</button>



                </center> 
                <img src="images/about_banner.jpg" alt="" />
                <h2></h2>
            </div>
        </div>
    </div>
 
</body>
</html>
